<div>
  <table>
    <thead>
      <tr>
        <td>Cartaz</td>
        <td>Title</td>
        <td>Type</td>
        <td>Year</td>
        <td>imdbID</td>
      </tr>
    </thead>
    <tbody id="tabDados" *ngIf="listaFilmes.Search !== undefined">
      <tr *ngFor="let filme of listaFilmes.Search">
        <td>
          <img
            src="{{ filme.Poster }}"
            (click)="openModel(imbdID.innerText)"
          />
        </td>
        <td>{{ filme.Title }}</td>
        <td>{{ filme.Type }}</td>
        <td>{{ filme.Year }}</td>
        <td #imbdID>{{ filme.imdbID }}</td>
      </tr>
    </tbody>
  </table>
</div>

<modal #modal></modal>
